-name = 'genta'
%div.wrapper
  -# サイドバー
  %div.side-bar
    %div.header
      %div.header__name<
        now-room-name
    %div.groups
      %div.group
        %div.group__name<
          room-name
        %div.group__message
          メッセージはまだありません
      %div.group
        %div.group__name<
          room-name
        %div.group__message
          メッセージはまだありません

  -# タイトルバー
  %div.chat
    %div.header
      %div.left-header
        %div.left-header__title
          tech
        %ul.left-header__members
          Member :
          %li.member
            #{name}
      %div.right-header
        %a.right-header__button
          Edit
    -#<!-- コメント表示 -->
    %div.messages
      %div.message
        %div.base-info
          %span.base-info__person<
            #{name}
          %span.base-info__date<
            2018/05/17
        %div.text
          なるほど
      %div.message
        %div.base-info
          %span.base-info__person<
            #{name}
          %span.base-info__date<
            2018/05/17
        %div.text
          なるほど
    -#<!-- コメント書くところ -->
    %div.send
      %input.send__input
      %span.send__button
        %submit.send__button--text
          send

