-name = 'genta'
.wrapper
  .notification
    チャットグループが作成されました。
  -# サイドバー
  .side-bar
    .header
      .header__name<
        now-room-name
      .header__lists
        %i.fa.fa-edit.fa_fw
        %i.fa.fa-cog.fa_fw
    .groups
      .group
        .group__name<
          room-name
        .group__message
          メッセージはまだありません
      .group
        .group__name<
          room-name
        .group__message
          メッセージはまだありません

  -# タイトルバー
  .chat
    .header
      .left-header
        .left-header__title
          tech
        %ul.left-header__members
          Member :
          %li.member
            #{name}
      .right-header
        %a.right-header__button
          Edit
    -#<!-- コメント表示 -->
    .messages
      .message
        .base-info
          %span.base-info__person<
            #{name}
          %span.base-info__date<
            2018/05/17
        .text
          なるほど
      .message
        .base-info
          %span.base-info__person<
            #{name}
          %span.base-info__date<
            2018/05/17
        .text
          なるほど
    -#<!-- コメント書くところ -->
    .send
      %input.send__input{:type => "text", :placeholder =>" type a message" }
        %i.fa.fa-image
      %input.send__button{:type => "submit", :value => "Send"}


