.notification {
  .notice {
    z-index: 1;
    background-color: colors(light_blue);
    color: white;
    text-align: center;
    position: absolute;
    width: 100vw;
  }

  .alert {
    z-index: auto;
    background-color: colors(alert_orange);
    color: white;
    text-align: center;
  }
}
