.chat {
  width: calc(-300px + 100%);
  box-sizing:border-box;
  height: 100vh;
  position: relative;
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    border-bottom: 1px solid #eeeeee;
  }

  .left-header {
    float: left;
    &__title {
      color: #333;
      font-size: 20px;
      margin-top: 35px;
    }
    &__members {
      display: flex;
      color: #999;
      font-size: 12px;
      margin-top: 15px;
    }
  }

  .member {
    display: inline-block;
    padding-right: 5px;
  }

  .right-header {
    border: 1px solid $button-color;
    color: $button-color;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-top: 28px;
    padding: 0 20px;
    &__button {
      color: $button-color;
      text-decoration: none;
    }
  }
}
