@import "_reset";
@import "_variable";
@import "font-awesome";

@import "_chat";
@import "_messages";
@import "_sidebar";
@import "_send";

.wrapper {
  display: -webkit-frex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.notification {
  text-align: center;
  color: white;
  background-color: $button-color;
  position: absolute;
  width: 100vw;
}
