@import "font-awesome";
@import "config/variable";
@import "config/size";
@import "config/_reset";

@import "modules/_send";

@import "user";
@import "modules/flash";

@import "groups";
@import "messages";

.wrapper {
  display: -webkit-frex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}
