@import "font-awesome";
@import "config/colors";
@import "config/size";
@import "_reset";
@import "_variable";

@import "modules/chat";
@import "modules/side_bar";
@import "_send";

@import "user";
@import "modules/flash";
@import "modules/group";

.wrapper {
  display: -webkit-frex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.notification {
  text-align: center;
  color: white;
  background-color: $button-color;
  position: absolute;
  width: 100vw;
}
