!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %div.side-bar
      %div.header
        %div.header__name
          now-room-name
      %div.groups
        %div.group
          %div.group__name
            room-name
            %div.group__message
              メッセージはまだありません
          %div.group__name
            room-name
            %div.group_message
              メッセージはまだありません
